.textarea{
    position: absolute;
    background-color: pink;
    border: 1px solid black;
}
.form{
    position:relative ;
    float: right;
    background: yellow;
    height:620px;
    border: 1px solid black;
    text-align: center;
    
}
label{
    border: 1px solid black;
    background-color: white;
}